@import "tailwindcss";

:root {
  /* This changes the main background */
  --background: #b1ccd6; 
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* We update this section so it doesn't turn black on dark-mode devices */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #b1ccd6; 
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* The layout uses Geist fonts, so we link them here */
  font-family: var(--font-geist-sans), Arial, sans-serif;
}
